.span9.offset1
  .row
    //- .hero-unit
      i.icon-coffee.icon-3x.pull-left
      p
        | Metuentes igitur idem latrones Lycaoniam magna parte campestrem cum se inpares nostris fore congressione stataria documentis frequentibus sciren!
    .span9.scorpio-spacer
    .span9.about-content.scorpio-bio
      br
      p
        | Hi! My name is Ian Cuslidge, otherwise known as&#32;
        a(href='http://steamcommunity.com/id/scorpiouprising') Scorpio Uprising.
        |  I'm an amateur level designer who has worked extensively with Source
        | SDK and the Hammer level editior. I'm primarily well known for my work
        | on maps for Competitive Team Fortress 2 (6v6 and Highlander), and on
        | being the head of the&#32;
        a(href='http://steamcommunity.com/groups/newmapweekends') New Map Weekends Pug Group
        | , where we test up-and-coming maps for their viability in competitive play.
        | I'm currently looking for a level designer position in the games industry.
      h2.skill
        i.icon-circle-arrow-right
        | Education
      p
        | I received my Bachelors from the University of Puget Sound, majoring
        | in philosophy. After a year break, I attended the Masters program from
        | the Centre for Research in Modern European Philosophy, where I
        | graduated in the summer of 09. I wrote my dissertation on the
        | philosophers Gilles Deleuze and Felix Guattari, and how their
        | philosophy can inform a theory of gameplay.
      p
        | I was considering a Phd, either in philosophy or (more likely now)
        | media studies, but I've been taking some time off to engage in level
        | design and to work out what I want to do with my life.
      h2.skill
        i.icon-circle-arrow-right
        | Level Design
      p
        | I started designing levels for Team Fortress 2 near the beginning of 2008. A blog post unveiling the content for the Pyro update also included a small, tantilizing link promising to teach me how to make maps. After many stumbles and lapses into outright confusion (HOW DO YOU MAKE A BRUSH???), I managed to come up with a half decent layout, and get to work on my first real map cp_resonance.
      p
        | Playtesting the map mostly in public servers (2f2f, never forget!) I found it incredibly difficult to get an accurate read on what I needed to do to improve the map. Most of my public server friends were very supportive, but had very little in the way of actual, significant feedback to help me move forward. Then, on a forum I frequented, someone mentioned that certain competitive players had been talking positively about resonance, as well as providing some very direct feedback about how to improve it.
      p
        | From that point on I was pretty hooked on competitive play. Competitive players were very direct about what they did or didn't like about a map, what a mapper could do to improve it, and what kinds of maps they were interested in playing. That kind of focus gave me a target I felt I could work with, as well as an environment to test maps in. I'd found public playtests to be a bit chaotic and unmoderated, resulting in very little actual information or feedback, but a recorded demo of a competitive match could teach you all sorts of things about how to move forward.
      p
        | From there I've been making maps predominantly for competitive play for the past three years or so.
      h2.skill
        i.icon-circle-arrow-right
        | Competitive Play
      p
        | As mentioned above, I've tended to focus my level design on competitive maps for leagues and pick up games. Primarily, this is a result of the focused nature of the gameplay under consideration, as well as the ability to test and get feedback in pick up games and league matches, which have proven far more affective at communicating gameplay flaws than anything else. As a designer, I find that having a specific audience in mind when designing a map is a boon, as it allows you to make very specific decisions about what works and what doesn't, and that by focusing on competitive players I've really allowed my maps to grow exponentially better.
      p
        | I also personally enjoy competitive play, both from as a spectator and as a player. Playing in matches and pugs, while sometimes stressful, is really where I feel gameplay reaches an extremely high level. Being able to spectate players playing my maps in league matches is also pretty exciting, and watching them perform at a high level, making incredibly important strategic decisions is very gratifying.
      h2.skill
        i.icon-circle-arrow-right
        | New Map Weekends Pug Group
      p
        | I've also been running the New Map Weekends group for the past year or so. The group was originally created in April of 2011, by Waxpax as a way to test new maps for competitive play, and I took over from them in Febuary of 2012. We have run pick up games on new maps every Friday and Saturday for the year and a half, focusing on maps that fit in competitive game modes, as well as some odd ball corner cases that no one quite knows what to do with.
      p
        | I'm currently taking a break from running pugs due to work and fatigue, but maybe in the future I'll ressurect the group.
      p
        | I try to remain active on TF2Maps.net, searching for the next great 5cp map, Koth or A/D, so that I can formulate concise feedback on what they could improve based off our PUG experiences.

      //- .about-separator
      //-   .about-thumbs-up
      //-     span
      //-       i.icon-cogs
      //- .span2.skill.knob
      //-   h2 HTML5
      //-   input.dial(type='text', value='90', data-width='120', data-fgcolor='#4E4E4E', data-thickness='.2')
      //- .span2.skill.knob
      //-   h2 CSS3
      //-   input.dial(type='text', value='87', data-width='120', data-fgcolor='#4E4E4E', data-thickness='.2')
      //- .span2.skill.knob
      //-   h2 Javascript
      //-   input.dial(type='text', value='55', data-width='120', data-fgcolor='#4E4E4E', data-thickness='.2')
      //- .span2.skill.knob
      //-   h2 PHP
      //-   input.dial(type='text', value='40', data-width='120', data-fgcolor='#4E4E4E', data-thickness='.2')
    //- end: Skills
  //- end: row

//- script
//-   /* -------------------- Knob --------------------- */

//-   $(".dial").knob({
//-     'release' : function (v) { /*make something*/ }
//-   });
