.span9.offset1
  #options
    ul#filters.tag-css.option-set.clearfix(data-option-key='filter')
      li
        a.selected(href='#filter', data-option-value='*') All
      li
        a(href='#filter', data-option-value='.men') Men
      li
        a(href='#filter', data-option-value='.women') Women
      li
        a(href='#filter', data-option-value='.landscape') Landscape
  //- start: container
  #container.clearfix.isotope(isotope)
    .element.men
      .thumbs
        a.picture(href='project')
          img.img-polaroid(alt='content', src='img/medium/1.jpg')
          span
            i.icon-link
    .element.women
      .thumbs
        a.picture(href='project')
          img.img-polaroid(alt='content', src='img/medium/2.jpg')
          span
            i.icon-link
    .element.men
      .thumbs
        a.picture(href='project')
          img.img-polaroid(alt='content', src='img/medium/3.jpg')
          span
            i.icon-link
    .element.women
      .thumbs
        a.picture(href='project')
          img.img-polaroid(alt='content', src='img/medium/4.jpg')
          span
            i.icon-link
    .element.women
      .thumbs
        a.picture(href='project')
          img.img-polaroid(alt='content', src='img/medium/5.jpg')
          span
            i.icon-link
    .element.landscape
      .thumbs
        a.picture(href='project')
          img.img-polaroid(alt='content', src='img/medium/6.jpg')
          span
            i.icon-link
    .element.women
      .thumbs
        a.picture(href='project')
          img.img-polaroid(alt='content', src='img/medium/7.jpg')
          span
            i.icon-link
    .element.landscape
      .thumbs
        a.picture(href='project')
          img.img-polaroid(alt='content', src='img/medium/8.jpg')
          span
            i.icon-link
    .element.men
      .thumbs
        a.picture(href='project')
          img.img-polaroid(alt='content', src='img/medium/1.jpg')
          span
            i.icon-link
    .element.women
      .thumbs
        a.picture(href='project')
          img.img-polaroid(alt='content', src='img/medium/2.jpg')
          span
            i.icon-link
  //- end: container