.span9
  //- .span8.offset1.home-content.home-title
    //- .home-marker
      //- i.icon-globe.icon-marker
    //- h1 It’s amazing how much you can get done in a day if you just sit and you do it.

  .span9.offset1.scorpio-margin-top
    .project-slider
      #myCarousel.carousel.slide
        //- ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
        .carousel-inner
          .item.active
            img(src='img/slider/cp_ashville_b6_1.jpg', alt='cp_ashville_b6')
            a(href='portfolio/cp_ashville')
              .carousel-caption
                h4 cp_ashville
                //- p Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          .item
            img(src='img/slider/cp_frost_b6_6.jpg', alt='cp_frost_b6')
            a(href='portfolio/cp_frost')
              .carousel-caption
                h4 cp_frost
          .item
            img(src='img/map/ctf_haunt_b1/ctf_haunt_b1_6.jpg', alt='ctf_haunt_b1')
            a(href='portfolio/ctf_haunt')
              .carousel-caption
                h4 ctf_haunt
          .item
            img(src='img/slider/cp_metalworks_rc2_3.jpg', alt='cp_metalworks_rc2')
            a(href='portfolio/cp_metalworks')
              .carousel-caption
                h4 cp_metalworks
          .item
            img(src='img/slider/cp_process_b10_1.jpg', alt='cp_process_b10')
            a(href='portfolio/cp_process')
              .carousel-caption
                h4 cp_process
          .item
            img(src='img/slider/cp_standin_rc1_1.jpg', alt='cp_standin_rc1')
            a(href='portfolio/cp_standin')
              .carousel-caption
                h4 cp_standin
          .item
            img(src='img/slider/work_in_progress.jpg', alt='Work in progress')
            a(ng-href='')
              .carousel-caption
                h4 Work in progress
        a.carousel-control.left(href='', ng-click='carousel("prev")') &lsaquo;
        a.carousel-control.right(href='', ng-click='carousel("next")') &rsaquo;
      span.scorpio-carousel-title Ian&nbsp;Cuslidge
      span.scorpio-carousel-subtitle Level&nbsp;Designer
  .span9.offset1.content-contact.scorpio-home
    .row
      .span3
        .contact-info.scorpio-about
          .title
            i.icon-user.icon-2x.pull-left
            h3 About Me
          p: small
            | My name is Ian Cuslidge, otherwise known as&#32;
            a(href='http://steamcommunity.com/id/scorpiouprising') Scorpio Uprising.
            |  I'm an amateur level designer who has worked extensively with
            | Source SDK and the Hammer level editor. I'm primarily well known
            | for my work on maps for Competitive Team Fortress 2 (6v6 and
            | Highlander), and on being the head of the&#32;
            a(href='http://steamcommunity.com/groups/newmapweekends') New Map Weekends Pug Group
            | , where we test up-and-coming maps for their viability in
            | competitive play. I'm currently looking for a level designer
            | position in the games industry.
        .contact-info.scorpio-contact
          br
          .title
            i.icon-info-sign.icon-2x.pull-left
            h3 Contact
          p
            strong Ian Cuslidge
          p: i.icon-map-marker
            |  2001 Eastbrook Ln
          p: i.icon-map-marker
            |  Casper, Wyoming 82601
          p: i.icon-phone
            |  (206) 923-9702
          p: i.icon-envelope-alt
            |  icuslidge@gmail.com
          //- p: i.icon-globe
          //-   |  www.companyname.com
          br
      .span6
        .scorpio-resume
          .title
            i.icon-file.icon-2x.pull-left
            h3 Resumé
          p Ian Cuslidge
          p DOB: 5/13/1984
          //- br
          p Availability: Immediately
          br
          h4 OBJECTIVE
          p
            | I'm looking for a job in the games industry designing levels.
            | I've spent a great deal of time designing maps for specific and
            | general audiences, and would like to continue this in a career.
            | I also would love a job which is essentially creative, rather than
            | accidentally so.
          br
          h4 SKILLS
          strong Hammer Level Editor
          p.
            I’ve spent the past four years using Valve’s hammer editor to design
            levels for Team Fortress 2.
            I’m currently proficient with generating rough but playable alphas,
            moving a team fortress map from undetailed alpha to detailed beta,
            and finalizing the map through playtest and iteration. This includes
            knowledge of how to generate custom objectives, and wire together the
            basic workings of a map via the hammer entity  system. Though
            generally focused on multiplayer first person games, I could easily
            learn how to develop for any genre and single player game type if
            given the opportunity.
          br
          strong Excellent Writing Skills
          p.
            My Bachelors and Masters both emphasized writing ability. Philosophy
            requires the ability to weigh arguments and understand complex word
            play (ask me about Deleuze’s conception of schizophrenia!), but also
            the ability to engage with those arguments and see the problems or
            strengths of a given line of reasoning. Further, much of philosophy
            is boiling down or simplifying a rather larger concept, ensuring
            that it can be dealt with in a reasonable timeframe. This could
            prove useful for getting a rather large game design idea into a
            concise description.
          br
          strong Game Analysis
          p.
            Another element of my philosophical training is to analyze things
            from a variety of positions and weigh the strengths and weaknesses
            of a theory. This has proven quite useful in evaluating games as well,
            as game design decisions are often implicit and must be teased out.
            Further, I’m quite well versed in game design decisions both
            traditionally (chess, go, ancient games), modern (first person
            shooters especially, but I’m well versed in most MMO, RPG, RTS
            decisions), and the general shape of modern gaming.
          br
          h4 EDUCATION
          strong Master's Degree, Modern European Philosophy
          p 09/2008 – Graduating in 09/2009
          p Middlesex University | London, England
          br
          p
            | I traveled to the UK to study Modern European Philosophy. My study
            | was focused on Hegel, Kant, Deleuze, Negri, Sartre and Badiou, as
            | well as engaging with modern takes on their perspectives. My
            | dissertation was written on the philosophy of Deleuze, classical
            | games, and modern game design. You can download a copy&#32;
            a(href='https://dl.dropbox.com/u/3492731/Job/Towards%20a%20Rhizomatic%20Theory%20of%20Gameplay.pdf')
              | here
            | .
          br
          strong Bachelor's Degree, Philosophy
          p 9/2003 – 5/2007
          p University of Puget Sound | Tacoma, WA
          br
  //- .span9.offset1.home-content
  //-   .row.home-features
  //-     #my-icon-1.span3
  //-       .item
  //-         .icon
  //-           i.icon-tablet.icon-4x
  //-         h3 Responsive Layout
  //-         p
  //-           | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum ullamcorper metus sit amet feugiat.
  //-     #my-icon-2.span3
  //-       .item
  //-         .icon
  //-           i.icon-cogs.icon-4x
  //-         h3 HTML5/CSS3
  //-         p
  //-           | Ut id leo lorem. Cras a aliquam felis. Vivamus risus enim, porttitor nec eleifend ut..
  //-     #my-icon-3.span3
  //-       .item
  //-         .icon
  //-           i.icon-beer.icon-4x
  //-         h3 Easy to use
  //-         p
  //-           | Donec nec orci varius lorem semper luctus posuere id est. Fusce tempus gravida est a..

script
  /* -------------------- Slideshow --------------------- */
  /*
  $("#slider4").responsiveSlides({
    auto: false,
    pager: false,
    nav: true,
    speed: 500,
    namespace: "callbacks",
    before: function () {
      $('.events').append("<li>before event fired.</li>");
    },
    after: function () {
      $('.events').append("<li>after event fired.</li>");
    }
  });
  */
  $('.carousel').carousel();
