.span9.offset1
  .post.clearfix
    .span9.img-polaroid.post-img
      .callbacks_container
        img(src=map.banner, alt='map.name')
    .span9.post-content.clearfix
      .span4
        #container.clearfix.isotope(isotope)
          .element.men
            .thumbs
              a.picture(ng-href='')
                img.img-polaroid(alt='content', src='img/medium/1.jpg')
                span
                  i.icon-link
          .element.women
            .thumbs
              a.picture(ng-href='')
                img.img-polaroid(alt='content', src='img/medium/2.jpg')
                span
                  i.icon-link
          .element.men
            .thumbs
              a.picture(ng-href='')
                img.img-polaroid(alt='content', src='img/medium/3.jpg')
                span
                  i.icon-link
          .element.women
            .thumbs
              a.picture(ng-href='')
                img.img-polaroid(alt='content', src='img/medium/4.jpg')
                span
                  i.icon-link
          .element.women
            .thumbs
              a.picture(ng-href='')
                img.img-polaroid(alt='content', src='img/medium/5.jpg')
                span
                  i.icon-link
          .element.landscape
            .thumbs
              a.picture(ng-href='')
                img.img-polaroid(alt='content', src='img/medium/6.jpg')
                span
                  i.icon-link
          .element.women
            .thumbs
              a.picture(ng-href='')
                img.img-polaroid(alt='content', src='img/medium/7.jpg')
                span
                  i.icon-link
          .element.landscape
            .thumbs
              a.picture(ng-href='')
                img.img-polaroid(alt='content', src='img/medium/8.jpg')
                span
                  i.icon-link
          .element.men
            .thumbs
              a.picture(ng-href='')
                img.img-polaroid(alt='content', src='img/medium/1.jpg')
                span
                  i.icon-link
          .element.women
            .thumbs
              a.picture(ng-href='')
                img.img-polaroid(alt='content', src='img/medium/2.jpg')
                span
                  i.icon-link
      .span4.scorpio-map-full-description
        h1= map.name
        each paragraph in map.description
          br
          p= paragraph
    .span4.scorpio-spacer
.span9.offset1.scorpio-spacer
