//- start: post-content
.span6.offset1
  .post.clearfix
    .span6.img-polaroid.post-img
      img.(alt='content', src='img/large/1.jpg')
    .span6.post-content.clearfix
      .span5
        i.icon-pencil.icon-2x.pull-left.icon-muted.icon-border
        h2 Post title
      .span5
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
        p
          | Metuentes igitur idem latrones Lycaoniam magna parte campestrem cum se inpares nostris fore congressione stataria documentis frequentibus scirent, tramitibus deviis petivere Pamphyliam diu quidem intactam sed timore populationum et caedium, milite per omnia diffuso propinqua, magnis undique praesidiis conmunitam.
      ul.span5.post-icons
        li
          i.icon-calendar
          | Sept 5, 2013
        li
          a(href='#')
            i.icon-user
            | John
          li
            a(href='#')
              i.icon-envelope
              | 4 comments
            li
              a(href='#')
                i.icon-share-alt
                | 24 Shares
  //- end: post-content
  //- start: comment-list
  .span6
    ol.comment-list.clearfix
      li
        .comments
          .avatar
            img(alt='', src='img/avatar.png')
          .comment-info
            .comment-author
              strong Allan Neubert
              span.reply
                a(href='#', title='Reply')
                  i.icon-reply
              span.date June 5,2013
            p
              | Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus? Quo? Quo pervenire ante certam diem non licebit.
      li
        .comments
          .avatar
            img(width='50', height='50', alt='', src='img/avatar.png')
          .comment-info
            .comment-author
              strong Allan Neubert
              span.reply
                a(href='#', title='Reply')
                  i.icon-reply
              span.date June 5,2013
            p
              | Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus? Quo? Quo pervenire ante certam diem non licebit.
        ol.child-list
          li
            .comments
              .avatar
                img(alt='', src='img/avatar.png')
              .comment-info
                .comment-author
                  strong Allan Neubert
                  span.reply
                    a(href='#', title='Reply')
                      i.icon-reply
                  span.date June 5,2013
                p
                  | Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus? Quo? Quo pervenire ante certam diem non licebit.
      li
        .comments
          .avatar
            img(alt='', src='img/avatar.png')
          .comment-info
            .comment-author
              strong Allan Neubert
              span.reply
                a(href='#', title='Reply')
                  i.icon-reply
              span.date June 5,2013
            p
              | Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus? Quo? Quo pervenire ante certam diem non licebit.
  //- end: comment-list
  //- start: send comment
  .span6
    .separator
      .thumbs-up
        span
          i.icon-comment
    form(method='post')
      .clearfix
        .input
          .input-prepend
            span.add-on Name:
            input#name.input(type='text', tabindex='1', size='18', value='')
      .clearfix
        .input
          .input-prepend
            span.add-on Email:
            input#email.input(type='text', tabindex='1', size='18', value='')
      .field.clearfix
        textarea.text.textarea
      .actions
        button.btn.btn-orange.btn-red-pastel.btn-steelblue.btn-darkslategrey.btn-large(tabindex='3', type='submit') Send
  //- end: send comment
//- end: post-content
//- start: sidebar-right
.sidebar-right
  .span2
    ul.ch-grid
      li
        .ch-item.ch-img-1
          .ch-info-wrap
            .ch-info
              .ch-info-front.ch-img-1
              .ch-info-back
                h3
                  a(href='#')
                    i.icon-twitter
      li
        .ch-item.ch-img-2
          .ch-info-wrap
            .ch-info
              .ch-info-front.ch-img-2
              .ch-info-back
                h3
                  a(href='#')
                    i.icon-google-plus
      li
        .ch-item.ch-img-3
          .ch-info-wrap
            .ch-info
              .ch-info-front.ch-img-3
              .ch-info-back
                h3
                  a(href='#')
                    i.icon-facebook
    .tag
      ul
        li
          a.sidebar-tag(href='#')
            i.icon-tag
            | Bootstrap
        li
          a.sidebar-tag(href='#')
            i.icon-tag
            | Snippet
        li
          a.sidebar-tag(href='#')
            i.icon-tag
            | Html5
        li
          a.sidebar-tag(href='#')
            i.icon-tag
            | CSS3
        li
          a.sidebar-tag(href='#')
            i.icon-tag
            | Jquery
