.span6.offset1
  //- start: project-content
  .span6.project-content.clearfix
    img.img-polaroid(alt='content', src='img/large/1.jpg')
    h2
      i.icon-pencil.icon-2x.pull-left.icon-muted.icon-border
      | Project title
    p
      | Quisque ullamcorper feugiat imperdiet. Integer vitae ornare lacus. Nulla elementum tincidunt leo, nec pretium felis laoreet at. Phasellus viverra lobortis leo vel euismod. Donec diam massa, ultricies vitae commodo at, iaculis id enim.
    .span4.offset1.project-info
      ul
        li
          strong Client:&nbsp
          | Flux
        li
          strong Date:&nbsp
          | June 2013
      a.btn.btn-orange(ng-href='')
        | Site
        i.icon-external-link
    .clearfix
    .project-slider
      .callbacks_container
        ul#slider4.rslides
          li
            img(src='img/large/2.jpg', alt='content')
          li
            img(src='img/large/1.jpg', alt='content')
          li
            img(src='img/large/3.jpg', alt='content')
  //- end: project-content
