!!! 5
html(lang='en', ng-app='myApp')
head
  //- start: Meta
  meta(charset='utf-8')
  base(href='/')
  title Ian Cuslidge
  meta(content='Ian Cuslidge\'s resume & portfolio', name='description')
  meta(content='Ian Cuslidge, level design, resume, portfolio', name='keywords')
  //- end: Meta
  //- start: Mobile Specific
  meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')
  //- end: Mobile Specific
  //- start: CSS
  link( rel='stylesheet'
      , href='/css/all-'+(assetManager.cacheHashes.css || '0')+'.css' )
  link(rel='stylesheet', href='css/bootstrap.css')
  link(rel='stylesheet', href='css/bootstrap-responsive.css')
  link(rel='stylesheet', href='css/colorbox.css')
  link(rel='stylesheet', href='css/style.css')
  //- end: CSS
  //- start: style switcher
  link.switchable(rel='stylesheet', href='css/style-bgd-maze-white.css')
  link.switchable(rel='stylesheet', href='css/style-color-orange.css')
  //- end: style switcher
  noscript
    link(rel='stylesheet', type='text/css', href='css/nojs.css')
  //- start: favicon
  link(href='//s3.amazonaws.com/wrapbootstrap/live/imgs/favicon.ico', rel='shortcut icon')
  //- end: favicon
  //if IE 9
    style
  //if IE 8
    style
      .nav-btn{display:none}.close-btn{display:none}.home-marker {top: 74px;}
  body(ng-controller='MainCtrl')
    block body
    //- start: script
    - if (process.env.NODE_ENV === 'production')
      script( src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' )
      script( src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js' )
      script( src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js' )
      script( src='js/all-'+(assetManager.cacheHashes.js || '0')+'.js' )
    - else
      script( src='js/lib/jquery/jquery-1.9.1.min.js' )
      script( src='js/lib/bootstrap/bootstrap.js' )
      script( src='js/lib/angular/angular.js' )
      script( src='js/lib/modernizr.js')
      script( src='js/custom.js' )
      script( src='js/app.js' )
      script(src='js/lib/responsiveslides.min.js')
      script(src='js/lib/isotope.js')
      script(src='js/lib/jquery.colorbox.js')
      script(src='js/lib/knob.js')
      script(src='js/lib/jquery.cookie.js')

    //- end: script
    //- HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
