doctype html
html(lang='en', ng-app='myApp')
  head
    //- start: Meta
    meta(charset='utf-8')
    base(href='/')
    title Ian Cuslidge
    meta(content='Ian Cuslidge\'s resume & portfolio', name='description')
    meta(content='Ian Cuslidge, level design, resume, portfolio', name='keywords')
    //- end: Meta
    //- start: Mobile Specific
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')
    //- end: Mobile Specific
    //- start: CSS
    link(rel='stylesheet', href='public/css/bootstrap.css')
    link(rel='stylesheet', href='public/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='public/css/colorbox.css')

    link(rel='stylesheet', href='public/css/font-awesome.css')
    link(rel='stylesheet', href='public/css/isotope.css')
    link(rel='stylesheet', href='public/css/canvas-menu.css')
    link(rel='stylesheet', href='public/css/animate.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400')
    link(rel='stylesheet', href='public/css/style.css')
    //- end: CSS
    //- start: style switcher
    link.switchable(rel='stylesheet', href='public/css/style-bgd-maze-white.css')
    link.switchable(rel='stylesheet', href='public/css/style-color-SteelBlue.css')
    //- end: style switcher
    noscript
      link(rel='stylesheet', type='text/css', href='public/css/nojs.css')
    link(href='data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=' rel='icon' type='image/x-icon')
  body(ng-controller='MainCtrl')
    block body
    //- start: script
    - if (process.env.NODE_ENV === 'production')
      script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
      script( src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js' )
      script( src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js' )
      script( src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js' )
    - else
      script( src='public/js/lib/jquery/jquery-1.11.1.min.js' )
      script( src='public/js/lib/bootstrap/bootstrap.js' )
      script( src='public/js/lib/angular/angular.min.js' )
      script( src='public/js/lib/angular/angular-route.min.js' )
    script( src='public/js/lib/modernizr.js')
    script( src='public/js/custom.js' )
    script( src='public/js/app.js' )
    script(src='public/js/lib/isotope.js')
    script(src='public/js/lib/jquery.colorbox.js')
    script(src='public/js/lib/jquery.cookie.js')

    //- end: script
    //- HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
